.player.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.player-button {
    margin-right: 10px;
    grid-area: buttons;
}

.player-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto 4fr repeat(3, 1fr);
    grid-area: content;
}

.player-list-container {
    display: grid;
    grid-gap: 16px;
    grid-auto-rows: auto;
    grid-template-rows: auto;
    grid-template-areas: "content";
    margin-bottom: 5px;
    margin-top: 5px;
}