.clan-new-form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    grid-template-areas: "gridlabel gridinput" "..  buttons";
    margin-bottom: 10px;
}

.clan-new-label {
    grid-area: gridlabel
}

.clan-new-field {
    grid-area: gridinput;
}

.clan-new-button {
    grid-area: buttons;
    margin-right: 10px

}
