.player.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.player-button {
    margin-right: 10px;
    grid-area: buttons;
}

.player-list-container {
    display: grid;
    margin-bottom: 10px;
    margin-top: 10px;
}

.player-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 5px;
    margin-top: 5px;
    grid-area: players;
}

.player-list-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-gap: 16px;
}

.player-attribute {
    margin-right: 10px;
}

.player-form-container {

}